<!-- The main angular template for editing QAL transformations-->

<transformation parent-controller="parentController">

    <div class="col-lg-12" ng-controller="TransformationController as controller">

        <div name="ngForm" ng-form=""
             sf-schema="controller.parentController.schema.definitions.Merge"
             sf-form="controller.form"
             sf-model="controller.parentController.model">

        </div>
    </div>

</transformation>

<script type="text/ng-template" id="resource.html">

    <div ng-switch-when="FLATFILE">
        <p>
            <span class="label">Delimiter</span> <input size="3" class="form-control  ng-empty ng-valid-schema-form"  ng-model="controller.parentController.model.resources[currResourceIndex].delimiter">
            </br>
            <span class="small">The delimiter, typically ";", "," or "|"</span>
        </p>
        <p>
            <input type="checkbox" ng-model="controller.parentController.model.resources[currResourceIndex].has_header">
            Has header
            </br>
            <span class="small">Checked if data begins with a header row containing field names</span>
        </p>
        <p>
            Filename</br><input ng-model="controller.parentController.model.resources[currResourceIndex].filename">
            <span class="small">The name of the file</span>
        </p>
        <p>
            Field names <input
                ng-model="controller.parentController.model.resources[currResourceIndex].field_names"></br>
            <span class="small">The names of the fields(field1,field2 - if applicable, see has_header)</span>
        </p>
        <p>
            CSV dialect <input
                ng-model="controller.parentController.model.resources[currResourceIndex].csv_dialect"></br>
            <span class="small">Specifies the csv dialect, can be 'excel-tab', 'excel' or 'unix'. Do not use for now.</span>
        </p>
        <p>
            Quoting <select style="width:99%"
                ng-model="controller.parentController.model.resources[currResourceIndex].quoting">
            <option value="None">No quoting at all, quotes will be treated as values</option>
            <option value="MINIMAL">Quoting is only used when necessary</option>
            <option value="ALL">Quoting is applied used on all fields</option>
            <option value="NONNUMERIC">Non-numeric fields are quoted</option>
        </select></br>
            <span class="small">To what degree does the file employ quoting?</span>
        </p>

        <p>
            Quote character <input
                ng-model="controller.parentController.model.resources[currResourceIndex].quotechar"></br>
            <span class="small">What character to use for quoting. Normally " (citation).</span>
        </p>
        <p>
            Escape character <input
                ng-model="controller.parentController.model.resources[currResourceIndex].escapechar"></br>
            <span class="small">What character is used to escape special characters, typically \. (backslash)</span>
        </p>
        <p>
            Line terminator <input
                ng-model="controller.parentController.model.resources[currResourceIndex].lineterminator"></br>
            <span class="small">What character is used to indicate the end of a line. typically \n. (Newline)</span>
        </p>

        <p>
            <input type="checkbox"
                             ng-model="controller.parentController.model.resources[currResourceIndex].has_header">
            Skip initial spaces
            </br>
            <span class="small">True if initial spaces should be disregarded</span>
        </p>
    </div>
    <div ng-switch-when="XPATH">
        <div ng-init="test_val='XPATH'"></div>
        XPATH
    </div>
    <div ng-switch-when="RDBMS">
        RDBMS
    </div>
</script>